<div class="banner" style="background-image: linear-gradient(rgb(131 131 131 / 40%),rgb(255 255 255 / 40%)), url(https://t3.ftcdn.net/jpg/03/73/51/06/360_F_373510690_cQQLplLNbi0l84A7sftZq8dSvdKOGCcj.jpg);">
  <div class="container">
    <h2><strong>TrendsInterior</strong></h2>
    <h1>The platform where you can share and discuss</h1>
    <h1>your Interior Design ideas !</h1>
  </div>
</div>

<div class="container-trends">

</div>
